accelerate==0.21.0
arxiv==2.1.2
bitsandbytes==0.43.1
colbert-ai==0.2.19
gradio==4.26.0
kubernetes==29.0.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.1.7
langsmith==0.1.77
llama-parse==0.4.1
Markdown==3.6
neo4j==5.19.0
numpy==1.25.0
openai==1.34.0
peft==0.4.0
PyPDF2==3.0.1
python-dotenv
pyvis==0.3.2
RAGatouille==0.0.8.post2
regex==2024.5.15
requests==2.32.3
streamlit==1.36.0
tiktoken==0.7.0
torch==2.2.2
transformers==4.43.2
trl==0.9.6
unstructured==0.13.2
